{% extends "flight_control/base.html" %}
{% load static %}

{% block body %}
<h4 class="card-title mt-3 text-center">Welcome to the HOME Page!</h4>
<h4 class="card-title mt-3 text-left">You are now authorized to:</h4>
<ul>
    <li>Create Aircraft</li>
    <li>Update Aircraft</li>
    <li>Retrieve Aircraft</li>
    <li>Delete Aircraft</li>
    <li>Create Airline</li>
    <li>List Airlines</li>
    <li>Update Airline</li>
    <li>Retrieve Airline</li>
    <li>Delete Airline</li>
  </ul>
{% endblock %}
